<div class="p-5 mb-4 rounded-3 text-center">
  <h1> For our Bucketlist </h1>
  <div class="container-fluid py-5 text-center bg-light">
    <div class="container_banner">
      <input type="radio" name="nav" id="first" checked />
      <input type="radio" name="nav" id="second" />
      <input type="radio" name="nav" id="third" />

      <label for="first" class="first"></label>
      <label for="second" class="second"></label>
      <label for="third" class="third"></label>

      <div class="one slide">
        <blockquote>
          <span class="leftq quotes">&ldquo;</span> 버킷리스트에 여행 계획이 있으신분들을 위해 준비하였습니다. <br>보다 간편하게 링크로 바로 이동하여 비행 계획을 구체적으로 세워보세요! <span class="rightq quotes">&bdquo; </span>
        </blockquote>
        <img src="https://www.thedailypost.kr/news/photo/201908/70329_61255_1741.jpg" width="170" height="130" />
        <h2>Airport</h2>
        <h6><a href="https://www.travelmap.co.kr/airticket">항공권 가격 알아보기</a></h6>
        <h6><a href="https://kr.blog.kkday.com/11250/worldwide-travel-tips-buy-airplane-ticket/">항공권 싸게 사는 꿀팁</a></h6>
      </div>

      <div class="two slide">
        <blockquote>
          <span class="leftq quotes">&ldquo;</span> 여행에 있어서 가장 중요한 숙박시설! <br>링크를 통해 편리하게 이용하세요. <span class="rightq quotes">&bdquo; </span>
        </blockquote>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUmL10YR7PeOaVpdGRIJQ7F33Ewa-ohyjmEw&usqp=CAU" width="170"
          height="130" />
        <h2>Hotel</h2>
        <h6><a href="https://post.naver.com/viewer/postView.nhn?volumeNo=27393549&memberNo=38512683">해외 숙박시설 꿀팁</a></h6>
      </div>

      <div class="three slide">
        <blockquote>
          <span class="quotes leftq"> &ldquo;</span> 당신의 순간들을 기록해 보는 것은 어떤가요? <br>
          남는 것 사진뿐이라는 말도 있죠. 좋은 추억을 만들어보아요.<span class="rightq quotes">&bdquo; </span>
        </blockquote>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWT9B7n5oQ1w3wcGafxJgghosrzKpRuTLYXQ&usqp=CAU"
          width="190" height="130" />
        <h2>Photo</h2>
        <h6>memory</h6>
      </div>


    </div>
  </div>


  <br>

  <div class="container bg-light" id="container_list">
    <br>
    <!-- <div class="col-mb-3 row text-center"> -->
    <div class="blog-card">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
        <ul class="details">
          <!-- <li class="author"><a href="#">Harin Shin</a></li>
          <li class="date">Dec. 15, 2021</li>
          <li class="tags">
            <ul>
              <li><a href="#">Diary</a></li>
              <li><a href="#">Plan</a></li>
              <li><a href="#">Bucket</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <br>
      <hr><br>
      <div class="description">
        <h1>Bucket List</h1>
        <h2>Opening a door to the future</h2>
        <p> 본인만의 버킷리스트를 작성하여 다른 사람들에게 공유하고, <br>서로의 버킷리스트를 구경해보세요!</p>
        <p class="read-more">
          <a class routerLink="/todo">Go To</a>
        </p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
        <ul class="details">
          <!-- <li class="author"><a href="#">Yujin Park</a></li>
          <li class="date">Dec. 15, 2021</li>
          <li class="tags">
            <ul>
              <li><a href="#">Other</a></li>
              <li><a href="#">Board</a></li>
              <li><a href="#">Talk</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <div class="description">
        <h1>Notice Board</h1>
        <h2>Let's Talk together</h2>
        <p>다양한 사람들의 이야기를 듣고, 친구를 사귀며 <br>새로운 인연을 쌓고, 즐거운 이야기를 만들어나가세요!</p>
        <p class="read-more">
          <a href="#">Go To</a>
        </p>
      </div>
    </div>

    <br>
  </div>

  <hr> <br>

  <!-- <div class="widget" style="float: none; margin:0 auto;"> -->
  <!-- <div class="row row-cols-1 row-cols-md-1"> -->
  <!-- <div class="col-md-4"> -->
  <!-- <div class="container "> -->
  <!-- 날씨 -->
  <div class="weather">
    <a class="weatherwidget-io" href="https://forecast7.com/en/35d91127d77/south-korea/"
      data-label_1="REPUBLIC OF KOREA" data-label_2="WEATHER" data-font="Helvetica" data-theme="weather_one">REPUBLIC
      OF KOREA WEATHER</a>
    <!-- </div> -->
    <!-- </div> -->
  </div>

  <br>

  <!-- 달력 -->
  <!-- <div class="col-md-4"> -->
  <div class="calendar">
    <iframe
      src="https://calendar.google.com/calendar/embed?src=9obmrnat82jdu3mkgl744migng%40group.calendar.google.com&ctz=Asia%2FSeoul"
      style="border: 0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
  </div>
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
</div>
